@font-face {
    font-family: artgreco;
    src: url('../fonts/ArtGreco.ttf');
}

body {
    margin: 0px;
    font-size: 16px;
    font-family: artgreco;
    background-color: #efe1cb;
}

/* home page */

.navbar {
    width: 100%;
}

.navbar h1 {
    font-size: 46px;
    text-align: center;
}

.navbar .links{
    background-color: #4f3324;
    text-align: center;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar .links a {
    text-decoration: none;
    color: white;
    margin-right: 10px;
}

.navbar .links input {
    background-color: #efe1cb;
    border: none;
    height: 100%;
}

.navbar .links input[type=submit]:hover {
    cursor: pointer;
}

.posts {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.post {
    width: 60%;
    margin-top: 1%;
    padding: 10px;
    background-image: url('../images/ancientbackdrop.jpg');
    background-size: cover;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.post .title {
    font-size: 24px;
}

.post .origin .tag {
    font-size: 12px;
    padding: 5px;
    border-radius: 5px;
    background-color: beige;
}

.post .description {
    margin-top: 1%;
}

.post .author {
    margin-top: 1%;
}


.profile {
    display: grid;
    grid-template-columns: 70% 30%;
    position: absolute;
    left: 91%;
    top: 0;
    font-size: 12px;
    margin-top: 10px;
}

.profile img {
    width: 50px;
    margin: auto;
}

.profile span a {
    color: inherit;
    text-decoration: none;
}

.profile-collapsed {
    position: absolute;
    left: 96.5%;
    top: 0;
    margin-top: 10px;
}

.profile-collapsed img {
    width: 50px;
}

.postmaker {
    display: none;
    position: fixed;
    width: 60%;
    height: 50vh;
    margin-left: 20%;
    bottom: 0;
    background-image: url('../images/ancientbackdrop.jpg');
    z-index: 2;
}

.postmaker form {
    width: 100%;
    height: 100%;
    padding: 1%;
}

.postmaker form textarea {
    width: 97%;
    height: 75%;
    resize: none;
}

.postmaker-button {
    display: block;
    position: fixed;
    width: 60%;
    margin-left: 20%;
    bottom: 0;
    z-index: 1;
    background-image: url('../images/ancientbackdrop.jpg');
    background-size: cover;
    height: 5%;
    border: none;
    font-family: artgreco;
    font-size: 16px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.postmaker form input[type=submit]:hover, .postmaker-button:hover, .postmaker form button:hover {
    cursor: pointer;
}

/* account pages */

.account {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.account .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 500px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 2%;
    background-image: url('../images/ancientbackdrop.jpg');
    background-size: cover;
}

.account form {
    width: 400px;
    margin-bottom: 5%;
}

.account form .form-items {
    display: grid;
    grid-template-columns: 50% 50%;
}

.account form input, .account form label {
    margin: 2.5px;
}

.account form input[type=submit] {
    margin-top: 20px;
    width: 100%;
    border: 1px solid black;
    background-color: none;
}

.account form input[type=submit]:hover {
    cursor: pointer;
}

.account a {
    color: black;
}
